@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>BIG WORDS ARE COOL</h1>
    <p class="lead">Small words are okay too.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We should</h2>
        <p>
            Consider
        </p>
    </div>
    <div class="col-md-4">
        <h2>probably remove</h2>
        <p>it</p>
    </div>
    <div class="col-md-4">
        <h2>all of this</h2>
        <p>done</p>
    </div>
</div>